<div class="container">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id Tipo Transacción</th>
        <th scope="col">Nombre</th>
        <th scope="col">Activo</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tipoTransaccion of listaTipoTransacciones">
        <th scope="row">{{tipoTransaccion.titrId}}</th>
        <td>{{tipoTransaccion.nombre}}</td>
        <td>{{tipoTransaccion.activo}} </td>
        <td>
          <button [routerLink]="['/tipo-transaccion-edit', tipoTransaccion.titrId]" class="col-md-6 btn btn-warning">Modificar</button>
          <button (click)="delete(tipoTransaccion)" class="col-md-6 btn btn-danger">Eliminar</button>
        </td>
      </tr>

    </tbody>
  </table>
</div>