<div *ngIf="showMsg" class="alert alert-success" role="alert">
  {{msg}}
</div>

<div class="container">
  <form #tipoDocumentoForm="ngForm">
    <div class="form-group">
      <label for="nombre">Nombre del Documento</label>
      <input class="form-control" [(ngModel)]="tipoDocumento.nombre" #nombre id="nombre" name="nombre"
        placeholder="Nombre">
    </div>
    <div class="form-group">
      <label for="activo">Estado del Tipo de Documento</label>
      <select class="form-control" name="activo" #activo id="activo" [(ngModel)]="tipoDocumento.activo">
        <option *ngFor="let activo of listaActivo" [value]="activo.id">
          {{activo.id}} - {{activo.nombre}}
        </option>
      </select>
    </div>
    <div>
      <button (click)="update(tipoDocumento)" class="btn btn-primary col-md-6">Modificar</button>
      <button routerLink="/tipo-documento-list" class="btn btn-danger col-md-6">Cancelar</button>
    </div>
  </form>
</div>