<div class="container">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id Cliente</th>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Dirección</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of listaClientes">
        <th scope="row">{{cliente.clieId}}</th>
        <td>{{cliente.nombre}}</td>
        <td>{{cliente.email}}</td>
        <td>{{cliente.direccion}}</td>
        <td>
          <button [routerLink]="['/cliente-edit', cliente.clieId]" class="btn btn-warning col-md-6">Modificar</button>
          <button (click)="borrar(cliente)" class="btn btn-danger col-md-6">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>