<div class="container">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Numero de Cuenta</th>
        <th scope="col">Saldo</th>
        <th scope="col">Activa</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cuenta of listaCuentas">
        <th scope="row">{{cuenta.cuenId}}</th>
        <td>{{cuenta.saldo}}</td>
        <td>{{cuenta.activa}} </td>
        <td>
          <button [routerLink]="['/cuenta-edit', cuenta.cuenId]" class="col-md-6 btn btn-warning">Modificar</button>
          <button (click)="delete(cuenta)" class="col-md-6 btn btn-danger">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>