<div *ngIf="showMsg" class="alert alert-success" role="alert">
  {{msg}}
</div>

<div class="container">
  <form #clienteForm="ngForm">
    <div class="form-group">
      <label for="clieId">Id del Cliente</label>
      <input disabled class="form-control" [(ngModel)]="cliente.clieId" #clieId id="clieId" name="clieId"
        placeholder="Ej: 7070">
    </div>

    <div class="form-group">
      <label for="tdocId">Tipo de Documento</label>
      <select class="form-control" name="tdocId" #tdocId id="tdocId" [(ngModel)]="cliente.tdocId">
        <option *ngFor="let tipoDocumento of listaTipoDocumento" [value]="tipoDocumento.tdocId">
          {{tipoDocumento.tdocId}} - {{tipoDocumento.nombre}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input class="form-control" [(ngModel)]="cliente.nombre" #nombre id="nombre" name="nombre" placeholder="Nombre">
    </div>
    <div class="form-group">
      <label for="direccion">Dirección</label>
      <input class="form-control" [(ngModel)]="cliente.direccion" #direccion id="direccion" name="direccion"
        placeholder="Dirección">
    </div>
    <div class="form-group">
      <label for="telefono">Telefono</label>
      <input class="form-control" [(ngModel)]="cliente.telefono" #telefono id="telefono" name="telefono"
        placeholder="Telefono">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input class="form-control" [(ngModel)]="cliente.email" #email id="email" name="email"
        placeholder="email@email.com">
    </div>
    <div class="form-group">
      <label for="activo">Cliente Activo</label>
      <select class="form-control" name="activo" #activo id="activo" [(ngModel)]="cliente.activo">
        <option *ngFor="let activo of listaActivo" [value]="activo.id">
          {{activo.id}} - {{activo.nombre}}
        </option>
      </select>
    </div>

    <div class="mb-4">
      <button (click)="update()" class="btn btn-success col-md-6">Editar</button>
      <button routerLink="/cliente-list" class="btn btn-danger col-md-6">Cancelar</button>
    </div>

  </form>
</div>